<div *ngIf="conformance">
    <label *ngIf="conformance.implementation">Source: <strong>{{conformance.implementation.description}}</strong></label>
    <p>Resource Type: {{conformance.resourceType}}, Publisher: {{conformance.publisher}}</p>
    <h3>REST Endpoints</h3>


    <div *ngFor="let curRest of conformance.rest">
        <p>Mode: {{curRest.mode}}</p>
        <p>Resources:</p>
        <li *ngFor="let curResource of curRest.resource">
            <span>{{curResource.type}}</span>
        </li>
    </div>
</div>